/*.container{
  text-align: center;

}
.textarea{
  height: 40px;
  width: 180px;
}

h1{
  background-color:black;
  height: 100px;
  color: white;
}
#SelectTown{
    width: 120px;
    height: 40px;
    margin-right: 160px;

}
.AddBtn{
  width: 90px;
  height: 40px;
  margin-left: 230px;
  margin-top: 20px;
}
.clearBtn{
  width: 90px;
  height: 40px;*/
  /* margin-left: 320px; 
}


.dropDownSelector{
  background: yellow;
}
.displayNumberPlates{
  background-color:  black;
  height: 100px;
  color: white
}*/